$font-family-base: 		Arial,Helvetica,sans-serif;

$context:               10;
$font-size-base: 		10;

$line-height-base: 		1.2;

$ui-colour: (
    brand       : #E0E0E0,
    brand-dark  : #2E2E2E,
    brand-light : #E0E0E0,
    header      : #e4e4e4,
    bright-blue : #39d1ff,
    link        : #000,
    box         : #222,
    text        : #DADADA,
);

$headings-font-family:  Arial,Helvetica,sans-serif;
$headings-font-weight:  normal;
$headings-line-height:  1.3;
$headings-color:        #39d1ff;

//$brand-color-light: 	lighten($text-color, 50%);

$mobile: 				320px;
$tablet: 				768px;
$small-desktop:			1024px;
$desktop: 				1280px;

$viewport-increment: 	1px;
