@import "compass/utilities";

@import "partials/mixins";
@import "partials/fonts";
@import "partials/variables";
@import "partials/forms";
@import "partials/typography";

@import "vendor/normalize";
@import "vendor/standard";

@import "modules/navigation";
@import "modules/header";
@import "modules/footer";

body {
    font-size: 10px;
	line-height: $line-height-base;
	font-family: $font-family-base;
}

#wrapper {
    background: map-get($ui-colour, brand-dark);
}
